@import "../../../assets/variables";

.button-get-started {
  @extend .animation-default;
  // DISPLAY
  // BOX
  width: 264px;
  height: 56px;
  margin: 0.5rem;
  // TYPO-VISUAL
  border: none;
  border-radius: 28px;
  background-image: $bck-getting-started;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;

  &:hover {
    background-image: $bck-getting-started-hovered;
    /*REMOVED AS REQUESTED*/
    //color: #f0f0f0;
  }

  &.disabled {
    background-image: none;
    background-color: $blue-grey;
  }
}
