<main class="component-root" (click)="overlayClicked($event)">

  <article class="overlay">
    <section class="page-title">
      <h1>
        {{ header_text }}
        <i class="fa fa-window-close closeIcon" aria-hidden="true"
           (click)="overlayClicked($event)">
        </i>
      </h1>
    </section>

    <section class="section-scrollable">
      <p class="terms">
        {{ terms_conditions1 }}
      </p>
      <h1 class="paragraph-title">
        Alpha-Pinene
      </h1>
      <p class="terms">
        {{ terms_conditions2 }}
      </p>
      <h1 class="paragraph-title">
        Linalool
      </h1>
      <p class="terms">
        {{ terms_conditions3 }}
      </p>

    </section>

    <footer class="footer-action-button">

      <div class="button-container">
        <!--<button class="b b-primary" routerLink="/step11">Accept</button>-->
        <button class="b b-primary" routerLink="/step8" (click)="goPrev($event)">Close</button>
      </div>
    </footer>

  </article>

</main>
