@import "../../../assets/variables";

.component-root {
  /* Note: match with border on overlay */
  padding: 59px 0;
  align-items: center;
  background-color: rgba(32, 41, 56, 0.7);

  @media all and (max-width: 640px) and (orientation: portrait) {
    padding: 30px;
  }
  /* TODO[daniel] 10:24 AM TESTE PARA VER COMO FICOU NO IPAD REMOVENDO ESSE PADDING */
  @media all and (max-width: 1024px) and (orientation: portrait) {
    padding: 60px;
  }

  .overlay {
    flex: 1;
    max-height: calc(100vh - 120px);
    max-width: 800px;
    border: solid 1px #d3dce6;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

    @media all and (max-width: 1024px) and (orientation: portrait) {
      max-height: calc(100vh - 60px);
    }

    @media all and (max-width: 1024px) and (orientation: landscape) {
      max-height: calc(100vh - 30px);
    }

    // CUSTOM FOR THE TERMS AND CONDITIONS
    .page-title {
      align-items: start;
      flex-direction: column;
      @media screen and (min-width: 1366px) and (orientation: landscape) {
        font-size: 20px;
        padding-bottom: 0;
      }
      h1 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 1.5rem;
        width: 100%;
      }
    }
  }
}

.section-scrollable {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0;
}

.paragraph-title {
  font-size: 1rem;
  text-transform: uppercase;
}

h3.paragraph-title {
  font-size: .85rem;
  text-transform: uppercase;
}

.footer-action-button {
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  min-height: 85px;
}

.button-container {
  justify-content: flex-start;
  background-image: none;
  &:hover {
    background-image: none;
  }

  .b {
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
  }
}

.closeIcon {
  height: 17px;
  width: 17px;
  color: white;
  background-color: transparent;
  margin-right: -60px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 1366px) {
    display: none;
  }
}
