<main class="component-root">

  <article class="overlay">
    <section class="page-title">
      <h1>
        {{ header_text }}
      </h1>

    </section>

    <section class="section-scrollable">

      <p class="terms">
        {{ terms_conditions1 }}
      </p>

      <p class="terms">
        {{ terms_conditions2 }}
      </p>

    </section>

    <footer class="footer-action-button">

      <div class="button-container">
        <!--<button class="b b-primary" routerLink="/step8">Accept</button>-->
        <button class="b b-primary" routerLink="/step25">Send With Out Strain
          Info
        </button>
        <button class="b b-borderless" routerLink="/step23">Cancel</button>
      </div>
    </footer>

  </article>

</main>
