@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten

}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  //  overriding styles.css
  display: block;
}

.display-results-section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 15px 10px;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    border-top: 2px solid rgba(226, 235, 245, 0.8);

    .fa {
      margin-right: 15px;
    }
  }
}

.link {
  cursor: pointer;
}

.purple {
  background-color: #7b7ff0;
  color: white;
  padding: 2px 10px;
  border: transparent;
  border-radius: 50%;
}

.footer-action-button {
  width: calc(100% - 3rem);
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
