<sailstrains-header cname="Select a Category to View Your Information" b1="Go Back" b1route="/step6" b2="Start Over" b2route="/"
  f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">
  <section class="display-results-section">
    <ul>
      <li class="link" routerLink="/step8" (click)="goStrainProfile()">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        {{ textValues.options[0].title }}
      </li>
      <li class="link" routerLink="/step11" (click)="goStrains()">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        {{ textValues.options[1].title }}
      </li>
      <li class="link" routerLink="/step23" (click)="goStrainSelected()">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        {{ textValues.options[2].title }} <span class="purple">{{selectedStrains}}</span>
      </li>
    </ul>
  </section>
</main>

<footer class="footer-action-button">
  <div class="button-container">
    <sailstrains-button b1="Email me this info"
                        b1route="/step24"
                        (b1Click)="goNext($event)"
                        [b1disabled]='false'>
    </sailstrains-button>
  </div>
</footer>
