<sailstrains-header cname="How frequently do you use cannabis?" b1="Go Back" b1route="/step3" b2="Start Over" b2route="/"
  f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">

  <section class="single-selection">

    <div class="each-selection-element" *ngFor="let option of single_selection.options">
      <input type="radio" name="{{ single_selection.selector_name }}" id="{{ option.id }}" value="{{ option.name }}">
      <label for="{{ option.id }}" title="Title for {{ option.description }}" (click)="onElementSelection(option.id)" [class.selected]="option.selected">
        {{ option.description }}
      </label>
    </div>

  </section>
</main>

<footer class="footer-action-button">

  <sailstrains-progress
    currentValue="50">
  </sailstrains-progress>

  <div class="button-container">
    <sailstrains-button b1="Continue"
                        b1route="/step5"
                        (b1Click)="goNext($event)"
                        [b1disabled]="!verifyIntakeFrequecy()">
    </sailstrains-button>
  </div>
</footer>
