<sailstrains-header
  [cname]="strainName"
  b1="Go Back"
  b1route="/step14"
  b2="Start Over"
  b2route="/"
  (b1Click)="goPrev($event)"
  (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">
  <section class="discover-product">

    <!--FIRST BLOCK - types info -->
    <div class="types">
      <!-- TODO: #3 missing implementation: chart feature -->
      <!--<canvas id="chart" class="graph-image"></canvas>-->
      <img class="comparison" src="../../../assets/images/bottlecap@2x.jpg" alt="Bottlecap image">
      <span class="equals">&#61;</span>
      <img class="comparison" src="../../../assets/images/cannabis-gram@2x.jpg" alt="Cannabis gram image">

    </div>
    <!--SECOND BLOCK - icons -->
    <p class="muted">
      1 gram of dried cannabis is approximately the size of a bottle cap
      depending on the density of the flower.
    </p>
    <p class="spaced">
      The average medical cannabis consumer uses about 1- 3 grams of cannabis
      daily. The best method of determining your dosage is starting low and
      going slow. meaning that you start at a low dosage and gradually increase.
    </p>
    <p class="spaced">
      <span [innerHTML]="strainNote"></span>
    </p>
    <!--THIRD BLOCK - buttons -->

  </section>

</main>

<footer class="footer-action-button">
  <div class="button-container">
    <sailstrains-button b1="Back to Strain"
                        b1route="/step7"
                        (b1Click)="goPrev($event)"
                        [b1disabled]='false'>
    </sailstrains-button>
  </div>
</footer>
