@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  display: block;
}

.discover-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;

  @media screen and (min-width: 640px) {
    margin: 0 auto;
    max-width: 550px;
  }
}

/* FIRST BLOCK - types info */
.types {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* SECOND BLOCK - icons */
.muted {
  font-size: 14px;
  font-style: italic;
  color: $blue-grey;
}

.spaced {
  line-height: 1.75;
  font-size: 14px;
}

.comparison {
  max-width: 30vw;
}

.equals {
  color: #8492a6;
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
}
