<main class="component-root" (click)="overlayClicked($event)">

  <article class="overlay">

    <section class="page-title">
      <h1>
        {{ header_text }}
        <i class="fa fa-window-close closeIcon" aria-hidden="true"
           (click)="overlayClicked($event)">
        </i>
      </h1>
    </section>

    <section class="section-scrollable">
      <h2 class="paragraph-title">
        1. YOUR ACCEPTANCE OF THIS AGREEMENT
      </h2>
      <p class="terms">
        This is an Agreement between you (oruser,your) and MVC Technologies Inc.
        (orMVC, we,us,our). It governs your use of the website,
        www.sailcannabis.co,
        and portal, sailportal.co, (thePortal) (collectively, theSite Services)
        offered by MVC.
      </p>
      <p class="terms">
        YOU ACKNOWLEDGE AND AGREE THAT, BY CLICKING ON THEAGREE BUTTON, OR
        ACCESSING
        OR USING THE SITE SERVICES, OR BY DOWNLOADING OR POSTING ANY CONTENT
        FROM OR THROUGH THE SITE SERVICES, YOU ARE INDICATING THAT YOU HAVE
        READ, AND UNDERSTAND AND AGREE TO BE BOUND BY, THE TERMS AND CONDITIONS
        (THETERMS) CONTAINED BELOW, WHETHER OR NOT YOU HAVE REGISTERED VIA
        THE SITE OR PORTAL. YOU REPRESENT AND WARRANT THAT YOU HAVE THE LEGAL
        AUTHORITY TO AGREE TO AND ACCEPT THIS AGREEMENT ON BEHALF OF YOURSELF.
        YOU HAVE NO RIGHT TO ACCESS OR USE THE SERVICES UNLESS YOU AGREE
        TO THESE TERMS.
      </p>
      <p class="terms">
        PLEASE READ THIS DOCUMENT CAREFULLY.
      </p>
      <p class="terms">
        This Agreement incorporates by reference the MVC Privacy Policy. MVC
        reserves
        the right, at its sole discretion, to modify, discontinue or terminate
        the Site Services or to modify these Terms, at any time and without
        prior notice. If we modify these Terms we will post the modification
        via the Site or Portal or provide you with notice of the modification.
        By continuing to access or use the Services after we have posted
        a modification via the Site or Portal or have provided you with notice
        of a modification, you agree to be bound by the modified Terms. If
        the modified Terms are not acceptable to you, you agree to immediately
        stop using the Site Services.
      </p>

      <h2 class="paragraph-title">
        2. HOW MVC WORKS
      </h2>
      <h3 class="paragraph-title">
        2.1 About our Services
      </h3>
      <p class="terms">
        The Site Services provide an online communications tool and health
        information
        storage system. It allows health care providers who have a subscription
        to use the Site Services ("Health Care Providers"), to upload
        prescription
        information for dispensing Medical Marijuana (MM) as well as other
        personal health information such as their clinical notes, records,
        test results, charts, health card number, contact information, and
        other information they may collect or have been provided from you
        in the course of providing you medical care.
      </p>
      <p class="terms">
        It also allows licensed producers of MM (Licensed Producer) to receive a
        record of personal health information containing your name, date
        of birth, medical diagnosis, quantity of marihuana to be used each
        day, and term of the use and registration forms containing your home
        address, telephone number, email address, gender, date of birth,
        and such other information as you provide, so that they may fill
        the request for MM issued by your Health Care Provider issues.
      </p>
      <p class="terms">
        The Portal allows you to select and communicate with a Licensed Producer
        and a Health Care Provider of choice and view a portion of your personal
        health information. You agree to never use the Site Services to
        communicate
        urgent, emergency, nor any other communication which would result
        in injury or loss to you if it does not come to the attention of
        the Health Care Provider or Licensed Producer.
      </p>
      <p class="terms">
        All of the personal information and personal health information referred
        to above is collectively referred to as "Personal Health Information"
        throughout these Terms.
      </p>
      <p class="terms">
        MVC improves the workflow between Health Care Providers and Licensed
        Producers
        by allowing users to securely access and electronically verify medical
        documents and complete registration applications. All documents are
        stored electronically by MVC within a Service Organization Control
        (SOC) 2 Tier 3 data storage facility which limits unauthorized access
        and regulates transmission of the documentation. MVC assists Health
        Care Providers and Licensed Producers in creating traceable and
        auditable
        documentation to ensure compliance under the MMPR guidelines and
        applicable privacy legislation.
      </p>
      <p class="terms">
        The Site Services provide an online venue where an individual (aPatient)
        can connect with a Health Care Provider and Licensed Producers offering
        their services. Patients are given the ability to manage appointments,
        access pre-populated forms, view patient history and track order
        activity to provide improved quality care.
      </p>
      <p class="terms">
        Other Site Services that MVC provides include:
      </p>
      <ul>
        <li>
          a directory of Health Care Providers;
        </li>
        <li>
          a directory of Licensed Producers;
        </li>
        <li>
          platform to transmit a Medical Document;

        </li>
        <li>
          platform to verify a Medical Document;
        </li>
        <li>
          audit trail of submissions;
        </li>
        <li>
          a directory of products offered by Licensed Producers
        </li>
      </ul>

      <h3 class="paragraph-title">
        2.2 Limitations of our Services
      </h3>
      <p class="terms">
        MVC is not a party to any agreement between a Patient, Health Care
        Provider
        and/or Licensed Producer (Members). While our Site Services provide
        a platform to facilitate these relationships, MVC does not evaluate,
        interview, screen or perform background checks on Health Care Providers,
        Patients or Licensed Producers nor do we verify content posted to
        the Site by Health Care Providers, Patients or Licensed Producers.
        You therefore acknowledge and agree that if you elect to engage with
        any Health Care Provider or Licensed Producer via the Site Services,
        such dealings are solely between you and Health Care Provider and/or
        Licensed Producer and MVC shall not have any responsibility or liability
        for any losses or damages that you may suffer as a result of any
        such dealings. MVC does not assume any responsibility for the accuracy
        or reliability of any information provided by Health Care Providers,
        Patients or Licensed Producers on or off its Site Services.
      </p>

      <h2 class="paragraph-title">
        3. ELIGIBILITY TO USE THE SITE SERVICES
      </h2>
      <p class="terms">
        To be eligible to use our Site Services, you must meet the following
        criteria:
        You must be eighteen (18) years of age or older and have the capacity
        to form legally binding contracts under applicable law. If you are
        not eighteen (18) years of age or older do not register to use the
        Site or Services. If you are a Patient, you must be a citizen or
        legal resident of Canada or hold a valid Canadian visa. You must
        provide your full legal name, current address, a valid email address,
        and any other information required in order to complete the registration
        process. You are responsible to maintain the confidentiality of your
        account (Account) and to keep your password secure. You must not
        provide your password to anyone or permit anyone to access your Account.
        You must take reasonable steps to ensure the security of the computer
        and internet connection you use to access the Site Services. MVC
        cannot and will not be liable for any loss or damage from your failure
        to maintain the security of your Account and password. You are
        responsible
        for any and all activity and content that is uploaded to your Account,
        including any transmission of viruses or any code of a harmful nature.
        You must not be, or work for, a competitor of MVC or use our Services
        for reasons that are in competition with MVC. A violation or breach
        of these Terms as determined in the sole discretion of MVC will result
        in an immediate termination of your Account and usage of Site Services.
      </p>

      <h2 class="paragraph-title">
        4. RULES FOR USER CONDUCT AND USE OF SERVICES
      </h2>
      <h3 class="paragraph-title">
        4.1 Accuracy of Information Health
      </h3>
      <p class="terms">
        Care Providers and Licensed Producers rely on registration information
        you
        provide through the Site Services, which must be true, accurate,
        current and complete. You are required to update your information
        to maintain its truthfulness, accuracy and completeness. You must
        not provide misleading information about your location. You must
        not register for more than one Account. At the beginning of your
        Account application, and from time to time thereafter, your Account
        may be subject to verification. If you provide any information that
        is untrue, inaccurate, not current or incomplete, or if MVC has
        reasonable
        grounds to suspect that such information is untrue, inaccurate, not
        current or incomplete, MVC has the right to suspend or terminate
        your Account and refuse any and all current or future use of the
        Site Services.
      </p>
      <h3 class="paragraph-title">
        4.2 Registration and Posting Restrictions
      </h3>
      <p class="terms">
        As noted, to access the Portal you must register for an MVC Account. By
        registering
        for an Account, you agree: to abide by this Agreement and the processes,
        procedures, and guidelines described throughout these Terms and on
        the Site Services; to register your Account in your own legal name;
        you are solely responsible for any information that you post or transmit
        through the Portal; that MVC may, in its sole discretion, review
        and delete any content, in each case in whole or in part, that in
        the sole judgment of MVC violates this Agreement or which MVC determines
        in its sole discretion might be offensive, illegal or otherwise violate
        these Terms or community standards; to use of the Site Services,
        including but not limited to the content you post on the Portal,
        in accordance with any and all applicable laws and regulations; and
        that MVC is not responsible for any claims relating to any inaccurate,
        untimely or incomplete information provided by users of the Site
        Services. You agree that MVC is not required to moderate, verify
        or remove any information posted on the Site about you or any other
        person or entity.
      </p>
      <h3 class="paragraph-title">
        4.3 Your Username and Password
      </h3>
      <p class="terms">
        When a Member registers an Account, the Member will be asked to choose a
        username and password for the Account. As a Member, you agree that
        you are entirely responsible to safeguard and maintain the
        confidentiality
        of the username and password you use to access the Site.
      </p>
      <h3 class="paragraph-title">
        4.4 Ownership
      </h3>
      <p class="terms">
        The Site is protected by Canadian copyright, trade-mark and other laws.
        Your
        use of the Site Services does not transfer to you any ownership or
        other rights.
      </p>
      <h3 class="paragraph-title">
        4.5 Prohibited Uses
      </h3>
      <p class="terms">
        By using the Site Services of MVC, you agree that you will not under any
        circumstances: use the Site, Portal, or any information contained
        therein in any way that is abusive, threatening, obscene, defamatory,
        libellous, or racially, sexually, religiously, or otherwise
        objectionable
        and offensive; use the Services for any promotion of illegal activities,
        any unlawful or unauthorized purpose, nor in the use of the Site
        Services will you violate any laws in your jurisdiction (including
        but not limited to copyright laws) as well as the laws of the Province
        of Ontario and Canada; copy, imitate, reproduce, republish, upload,
        post, transmit, modify, index, catalogue, mirror or distribute the
        Site Services in any way, in whole or in part, without the express
        prior written consent of MVC; use another users Account without
        permission;
        interfere or attempt to interfere with the proper functioning of
        MVCs Services; provide false or inaccurate information when registering
        your Account, using our Site Services or communicating with other
        Members; attempt to re-register with MVC if we have terminated your
        Account for any or no reason; or publish or link to malicious content
        intended to damage or disrupt another users browser or computer.
        MVC reserves the right, at its sole discretion, to immediately terminate
        your use of the Site Services if it determines that you have violated
        the terms of this Section or the Terms or conditions set out here.
      </p>
      <h2 class="paragraph-title">
        5. TERMINATION OF REGISTRATION
      </h2>
      <p class="terms">
        MVC reserves the right in its sole discretion to refuse, suspend, or
        terminate
        service to you upon discovery that any information you provided on
        any form or posted on the Portal is not true, accurate, or complete,
        or otherwise violates the Terms of Service, or for any other reason
        or no reason in MVCs sole discretion. If you do not wish to proceed
        to use the Site Services, you may inform MVC by sending an email
        to info@mvctech.ca. Your Account will be dealt with in accordance
        with our Privacy Policy.
      </p>
      <h3 class="paragraph-title">
        5.1 Notification of cancellation of Account
      </h3>
      <p class="terms">
        We will notify you if we cancel your Account, unless in our judgment
        giving
        notice would cause a risk of further violation or damages. We will
        notify you that your Account will be canceled if the law requires
        such notification.
      </p>
      <h2 class="paragraph-title">
        6. PRIVACY
      </h2>
      <p class="terms">
        MVC will only use the information you provide on the Site Services in
        accordance
        with our Privacy Policy. By using our Site Services, you agree that
        MVC can use such data in accordance with our Privacy Policy available
        here.
      </p>
      <h2 class="paragraph-title">
        7. WAIVER AND COMPLETE AGREEMENT
      </h2>
      <p class="terms">
        The failure of MVC to exercise or enforce any right or provision of
        these
        Terms shall not constitute a waiver of such right or provision. The
        Terms constitute the entire agreement between you and MVC and govern
        your use of the Site Services, superseding any prior agreements between
        you and MVC (including, but not limited to, any prior versions of
        the Terms).
      </p>
      <h2 class="paragraph-title">
        8. DISPUTES WITH MVC
      </h2>
      <p class="terms">
        If a dispute arises between you and MVC, our goal is to resolve the
        dispute
        quickly and cost-effectively. Accordingly, you, MVC and our Affiliates
        agree that we will resolve any claim or controversy at law or equity
        that arises between us out of this Agreement or the Site Services
        (aClaim) in accordance with this section titledDisputes with MVC.
        Despite the foregoing, you and MVC retain the right to seek injunctive
        or other equitable relief in any court of competent jurisdiction
        to prevent the actual or threatened infringement, misappropriation
        or violation of copyrights, trademarks, trade secrets, patents, or
        other intellectual property or proprietary rights, as set forth in
        the arbitration provision below including any provisional relief
        required to prevent irreparable harm.
      </p>
      <h2 class="paragraph-title">
        9. DISPUTES AND COMPLAINTS
      </h2>
      <p class="terms">
        We want you to be highly satisfied with your experience with our Site
        Services.
        If you have any concerns or comments â€“ please contact our Customer
        Care Team at info@mvctech.ca.
      </p>
      <h2 class="paragraph-title">
        10. DISCLAIMERS; RELEASE LIMITATION OF LIABILITY
      </h2>
      <h3 class="paragraph-title">
        10.1 Disclaimers
      </h3>
      <p class="terms">
        Opinions, advice, statements, offers, or other information or content
        made
        available on the Site or through the Portal, but not directly by
        MVC, are those of their respective authors. Such authors are solely
        responsible for such content. MVC does not adopt, endorse or accept
        responsibility for the accuracy or reliability of any opinion, advice,
        or statement made by any author that appears through the Portal.
        Under no circumstances will MVC or its Affiliates be responsible
        for any loss or damage resulting from your reliance on information
        transmitted to or by any Member of the Portal. MVC DOES NOT ENDORSE
        ANY STATEMENT, REVIEW OR REPRESENTATION MADE BY A MEMBER OF THIS
        SITE. YOU MAY NOT ATTRIBUTE ANY STATEMENT, REVIEW OR REPRESENTATION
        TO MVC OR ANY DIRECTOR, OFFICER, EMPLOYEE, SERVICE PROVIDER OR AGENT
        OF MVC. TO THE MAXIMUM EXTENT PERMITTED BY LAW, MVC DISCLAIMS ANY
        LIABILITY WHATSOEVER FOR ANY MISSTATEMENTS AND/OR MISREPRESENTATIONS
        MADE BY ANY MEMBERS OF MVC. YOU HEREBY REPRESENT, UNDERSTAND AND
        AGREE TO HOLD MVC HARMLESS FOR ANY MISSTATEMENTS AND/OR
        MISREPRESENTATIONS
        MADE BY YOU ON THIS SITE. MVC does not warrant that the Site Services
        will be uninterrupted, timely or error-free.
      </p>
      <h3 class="paragraph-title">
        10.2 Release
      </h3>
      <p class="terms">
        In addition to the recognition that MVC is not a party to any agreement
        between
        the Members, you hereby release MVC (and our Affiliates, officers,
        directors, agents, subsidiaries, joint ventures and employees) from
        claims, demands and damages (actual and consequential) of every kind
        and nature, known and unknown, arising out of or in any way connected
        with any dispute you have with another Member, whether it be at law
        or in equity. This includes, for example and without limitation,
        any disputes regarding the performance, quality, functions, and quality
        of the Members services.
      </p>
      <h3 class="paragraph-title">
        10.3 Limitation of Liability
      </h3>
      <p class="terms">
        IN THE EVENT OF A DISPUTE BETWEEN YOU AND MVC AND/OR AN AFFILIATE,
        NEITHER
        YOU NOR MVC, OUR AFFILIATES, OUR LICENSORS OR OUR THIRD-PARTY SERVICE
        PROVIDERS WILL BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL,
        INCIDENTAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, LOSS
        OF PROFITS, LOSS OF BUSINESS OPPORTUNITIES OR LOSS OF GOODWILL, EVEN
        IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ALL OTHER CASES:
        Incidental Damages and Aggregate Liability. In no event will MVC
        be liable for any indirect or consequential damages, losses or expenses
        arising out of or relating to the use or inability to use the Site
        Services, including without limitation damages related to any
        information
        received from the Site Services, removal of content from the Portal,
        including profile information, any email distributed to any Member
        or any linked web site or use thereof or inability to use by any
        party, or in connection with any termination of your subscription
        or ability to access the Site or Services, failure of performance,
        error, omission, interruption, defect, delay in operation or
        transmission,
        computer virus or line or system failure, even if MVC, or
        representatives
        thereof, are advised of the possibility of such damages, losses or
        expenses. No Liability for non-MVC Actions. TO THE MAXIMUM EXTENT
        PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL MVC BE LIABLE FOR ANY
        DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT AND/OR CONSEQUENTIAL,
        ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN
        CONNECTION WITH THE USE OF THE SITE SERVICES, INCLUDING WITHOUT
        LIMITATION,
        BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING
        FROM ANYONES RELIANCE ON INFORMATION OR OTHER CONTENT POSTED ON THE
        PORTAL, OR TRANSMITTED TO OR BY ANY MEMBERS. THIS INCLUDES ANY CLAIMS,
        LOSSES OR DAMAGES ARISING FROM THE CONDUCT OF USERS WHO HAVE REGISTERED
        UNDER FALSE PRETENCES OR WHO ATTEMPT TO DEFRAUD OR HARM YOU.
      </p>
      <h2 class="paragraph-title">
        11. Governing Law and Jurisdiction
      </h2>
      <p class="terms">
        Any dispute arising out of the Site Services shall be governed by the
        laws
        of the Province of Ontario and of Canada without regard to its conflict
        of law provisions, and you expressly agree and consent to the exclusive
        jurisdiction and venue of the courts of Ontario and Canada.
      </p>
      <h2 class="paragraph-title">
        12. NOTICES AND COMMUNICATIONS
      </h2>
      <h3 class="paragraph-title">
        12.1 Communications from MVC to you
      </h3>
      <p class="terms">
        Unless you otherwise indicate in writing to Customer Support, MVC and
        Affiliates
        will communicate with you by email or by posting communications on
        the Site Services. You consent to receive communications from us
        electronically and you agree that these electronic communications
        satisfy any legal requirement that such communications be in writing.
        You will be considered to have received a communication when MVC
        sends it to the email address you have provided to MVC or when MVC
        posts such communication on the Site Services. You must keep your
        email address updated, and you must regularly check the Site Services
        for postings. Without limiting MVCs other rights under this Agreement,
        if you fail to respond to an email message from MVC regarding a
        violation,
        dispute or complaint within three (3) Business Days, MVC has the
        right to terminate or suspend, in our sole discretion, your Account.
      </p>

      <p class="terms">
        12.2 Communications from you to MVC All notices to MVC intended to have
        a
        legal effect must be in writing and delivered either (i) by means
        evidenced by a delivery receipt, to the following address: MVC
        Technologies
        Inc., 200-4257 Sherwoodtowne Blvd., Mississauga ON, L4Z 1Y5 or (iii)
        in writing via email to info@mvctech.ca. All such notices are deemed
        effective upon documented receipt by MVC. Updated: June 12, 2016
        MVC Technologies Inc. PRIVACY POLICY 1. OVERVIEW MVC Technologies
        Inc. (orMVC,we,us,our,us) collects information from you (oryour)
        and about you when you use and access our website, www.sailcannabis.co,
        (theSite) and portal, sailportal.co (thePortal) (collectively, theSite
        Services). Personal Information (Personal Information) is as defined
        in and governed by the Personal Information Protection and Electronic
        Documents Act (PIPEDA). Personal health information (Personal Health
        Information) is as defined in and governed by Ontarios Personal Health
        Information Protection Act (PHIPA), or in other legislation in other
        Canadian jurisdictions. In Ontario, PHIPA creates oversight of health
        information custodians (Custodians) such as physicians in private
        practice and other health care providers (Health Care Providers)
        who collect, use and disclose Personal Health Information and who
        may use the Site Services. By parallel, a similar framework is in
        place in many other Canadian jurisdictions and this privacy policy
        should be read in that context. In its capacity as an electronic
        service provider (Provider) to Custodians under PHIPA, we supply
        services for the purpose of enabling Custodians to use electronic
        means to collect, use, modify, disclose, retain or dispose of Personal
        Health Information. We are not an Agent of Custodians that use Personal
        Health Information. Throughout this Policy, Personal Information
        and Personal Health Information will be collectively referred to
        asInformation. The data elements collected as part of this Information
        are further described in s. 3 below (Information We Collect). MVC
        is committed to promoting individual privacy and protecting the
        confidentiality
        of the Information we hold. We demonstrate our commitment to privacy
        by implementing privacy policies and procedures to protect the
        Information
        we hold and by educating our staff and any others who collect, use
        or disclose Information on our behalf about their privacy
        responsibilities.
        The Information you provide to us will be treated with care and,
        subject to this Policy and as permitted or required by law, will
        not be collected, used or disclosed without your consent. We take
        steps to ensure Information placed in the Portal and otherwise collected
        as part of the Site Services is secure. IF YOU ACCESS THE SITE SERVICES,
        you signify your consent to the collection, use and disclosure of
        information in accordance with this Policy. If you do not consent,
        please do not provide Information to MVC. In most instances, the
        services provided by MVC can only be offered to you if you provide
        Information to MVC. This Privacy Policy explains: what Information
        we collect how we use that Information the choices we offer, including
        how to access and update Information 2. DEFINITIONS Account means
        the account of a Member who has a registered account. Health Care
        Provider means one of the physicians listed on our site who will
        prescribe medical marijuana Licensed Producer means licensed producers
        of medical marijuana under the Health Canada federal regulatory scheme.
        Member means an individual who registers with MVC and creates an
        Account. Custodians, Licensed Producers and Patients are collectively
        referred to asMembers. MM means medical marijuana. Non-identifying
        Information means information that cannot be used to contact or identify
        you and is not linked to information that can be used to contact
        or identify you. It can include passively collected information about
        your activities within our Site Services, such as usage data, but
        only to the extent that information is not linked to your Information.
        Patient means a Member who registers with MVC and may therefore have
        access to the Site Services. 3. INFORMATION WE COLLECT MVC collects
        information in three ways: 3.1 Information you provide us We collect
        Information that you provide to us when you register, post a document
        via the Portal, or communicate with us by email, phone, video
        conferencing
        or postal mail: When you register as a MemberIn order to use the
        full complement of Site Services, you must register on the Portal.
        When you register for the Portal, you become a Member with an Account.
        We will collect the Information through our online registration;
        at the time of registration, MVC collects the following information
        from the patient to create a New User account: First and Last Name
        Residing Province Email Address When you create a Patient ProfileOnce
        you become a Patient with an Account, we collect and store all of
        the additional information that you provide to us in your profile.
        This may include: scheduled appointments, selected Health Care Provider,
        selected Licensed Producer, documents uploaded and any other information
        you chose to include. We also collect information from Patients as
        follows (* denotes a required data field): Health Card Number* Weight*
        Height* Gender* Telephone Number (Work, Cell, Other)* Residential
        Address* Shipping Address (if different from residential)* One piece
        of government issued ID* Lab results (if requested by the physician)Your
        communications with other Members will also be collected and stored.
        This includes any documentation or file you may upload for the other
        Members. Otherwise through the SiteIf you are not a Member, we may
        collect Information you provide us with through the Site, such as
        contact information. 3.2 Information we obtain from your use of our
        Site Services When you visit our Site, we collect Non-Identifying
        Information about you as follows: URL information and IP addressesWe
        receive the address (URL) of the website that you came from when
        you access our Site over the internet. When you leave our Site, we
        also receive the address of the website that you go to. MVC also
        receives the internet protocol (IP) address of your computer (or
        the proxy server you use to access the World Wide Web), your computer
        operating system and type of web browser you are using, your mobile
        device (including your UDID) and mobile operating system (if you
        are accessing MVC using a mobile device) as well as the name of your
        internet service provider or your mobile carrier. We may correlate
        this information with other Information we have about you. Log
        informationWe
        may automatically collect and store certain information in server
        logs about your user sessions when you log-in through your Account.
        This may include when and how often you access the site and what
        tasks were performed. This information will be used solely for MVCs
        purposes to improve the design of our services. Cookies and anonymous
        identifiersWe use cookies and tracking pixels (also referred to as
        web beacons) to track Site Services usage and trends, customize your
        experience on the Site Services and improve the quality of our services.
        For example, by using these technologies we can determine among other
        things which pages of our Site Services you visit. A cookie is a
        tiny data file that resides on your computer, mobile phone, or other
        device, and allows us to recognize you as a Member when you return
        to the Site using the same computer (or mobile device) and web browser.
        Using the settings in your browser, you can remove or block cookies,
        but in some cases doing so may impact your ability to use MVCs Site
        Services. Tracking tags and pixels do not identify individual Members
        and the analysis of data obtained by tracking pixels is performed
        on an aggregate basis only. 3.3 Information we get from other Members
        We collect information relating to your communication with other
        Members, including any documents they may upload to the Portal. This
        includes, but is not limited to, prescription information for dispensing
        MM created electronically by your Health Care Provider; medical
        documents
        containing your name, date of birth, medical diagnosis, quantity
        of MM to be used each day, and term of use, (Medical Document); amount
        and type of MM dispensed by Licensed Producer. 4. COLLECTION OF
        INFORMATION
        FROM CHILDREN MVCs Site Services are intended for use by individuals
        eighteen (18) years of age or older and have the capacity to form
        legally binding contracts under applicable law. MVC does not knowingly
        collect, either online or offline, Information from individuals under
        the age of 18. At this time, the Site Services are intended for
        residents
        of Canadian provinces and territories. 5. ACCOUNTABILITY We are
        responsible
        for Information we hold. We have designated our Information Technology
        team, the Health Quality Innovation Collaborative (HQIC) â€“ i6
        Technologies
        as our Privacy Officers, an external vendor bound contractually to
        assist us. We hold them accountable to facilitate our compliance
        with this Privacy Policy and applicable legislation. MVC demonstrates
        our commitment to privacy by implementing privacy policies and
        procedures
        to protect the Information we hold and by educating our staff and
        any others who collect, use or disclose Information on our behalf
        about their privacy responsibilities. All MVC staff and those who
        act on our behalf must abide by applicable privacy legislation, this
        policy and any applicable rules of professional conduct. 6. IDENTIFYING
        PURPOSES, CONSENT, AND LIMITING COLLECTION OF INFORMATION MVC collects,
        uses and discloses Information as is necessary in the course of
        providing
        Site Services and as otherwise permitted or required by law. When
        Information collected by MVC is to be used for a purpose not previously
        identified, the new purpose will be identified prior to use. MVC
        may hire other companies to provide services on its behalf (theAgent).
        MVC gives Agents only the Information they need to deliver the service.
        MVC requires Agents to maintain the confidentiality of Information
        and prohibits them from using such Information for any other purpose.
        MVC and its Agents may use your Information for the following purposes:
        to provide Members with information about the Portal, including updates
        and notifications; to send general e-mail communication (however
        the general e-mail communication will not include Information as
        defined in these Terms of Use; to maintain, administer, register
        and service your Account; for support services; contact you in response
        to your technical or general inquiries, or periodically solicit feedback
        and input from you; to generate statistics and aggregate reports
        to improve the Site Services; to provide services; to store Information;
        help Patients find Health Care Providers and Licensed Producers;
        verify Information you provide us as well as the representations
        and warranties you make to us in the Member Agreement or on the Site
        Services; and MVC also collects, uses and discloses Information as
        identified at the time of collection, or as permitted or required
        by applicable law, including: for administrative, management and
        business purposes such as administration of your account; to improve
        the quality of the Site Services; to enhance your experience with
        MVC; to communicate with you; to offer you tailored content; for
        any other purpose for which we have your consent. MVC assumes that
        your registration of an Account constitutes implied consent for specific
        purposes, unless expressly instructed otherwise. Our Site Services
        allow you to view your current medications and Medical Documents,
        manage appointments, and communicate with Health Care Providers and
        Licensed Producers, while enabling the Health Care Providers and
        Licensed Producers to manage the process more efficiently. We limit
        the collection, use, retention and disclosure of Information to that
        which is reasonably necessary for the purposes outlined herein. By
        using the Site Services, you consent to our collection from,
        verification
        with and communication to Health Care Providers, Licensed Producers
        and any third party for the purposes set out in this Policy, by MVC
        and any corporation, company or other entity effectively controlling
        or controlled by MVC or associated with others under common control
        or ownership, and includes, but is not limited to subsidiaries
        (theAffiliates).
        The Information we collect allows you, upon acceptance from a Health
        Care Provider for you as a Patient to use MM, to view your Medical
        Document and Registration Application and previous order history,
        as well as learn more about the services and products of authorized
        Licensed Producers. The Information we collect allows Health Care
        Providers to view your health history, electronically transmit and
        verify Medical Documents, and access Patient order activity and history.
        In addition, Licensed Producers are able to send Medical Documents
        to Health Care Providers for verification and track order history
        for better reporting to Health Canada. You consent to us using
        aggregate,
        Non-Identifying Information collected via cookies and similar
        technologies
        to use in statistical analysis to help us track trends and analyze
        patterns in the use of MVC. You also consent to MVC using any of
        your data in aggregate form for research purposes. 8. INFORMATION
        WE SHARE We do not share Information with companies, organizations
        and individuals outside MVC unless the following circumstances apply:
        With your consentWe will share Information with companies, organization
        outside of MVC when we have your consent to do so. We require opt-in
        consent for this to occur, unless the law permits or requires otherwise.
        By becoming a Member of MVC, you consent to share your Information
        with other Members that you select. We will disclose Information
        where permitted or required by law including: in an emergency if
        it is clearly in your interests or will reduce a significant risk
        of bodily harm to you or a third party and consent cannot be obtained
        in a timely way; in relation to any legal proceeding to protect or
        defend MVCs or a third partys rights or property; to a public body
        or a law enforcement agency in Canada concerning an offence under
        the laws of Canada or a province (including to protect our property
        or the health, safety and property of our community); to meet any
        applicable law, regulation, legal process or enforceable governmental
        request required or permitted by PIPEDA, PHIPA or other substantially
        similar provincial legislation in Canada or legislation applicable
        to a jurisdiction where MVCs Site Services are being used; to assist
        in an investigation or in the making of a decision to undertake an
        investigation; to enforce applicable agreement with Members, including
        payment terms and investigation of potential violations; or to comply
        with a subpoena, warrant or order issued or made by a court, person
        or body with jurisdiction to compel the production of Information,
        detect, prevent, or otherwise address fraud, security or technical
        issues. We may share aggregate, Non-Identifying Information publicly
        and with our partners. For example, we may share Information publicly
        to show trends about the general use of MVCs services. In limited
        business circumstances We may disclose and transfer Information
        Non-Identifying
        Information in connection with a merger or sale (including transfers
        made as part of insolvency or bankruptcy proceedings) involving all
        or part of MVC or its affiliates or as part of a corporate
        reorganization
        or change in corporate control. 9. LIMITING USE, DISCLOSURE AND
        RETENTION
        Information will not be used or disclosed by MVC for purposes other
        than those for which it was collected, except with the consent of
        the Patient or as permitted or required by law. Information will
        be retained by MVC only as long as necessary for the fulfillment
        of those purposes. Information that is no longer required to fulfill
        the identified purposes will be destroyed, erased, or made anonymous
        safely and securely. You acknowledge and agree that if you request
        that your Information be removed from our Portal, it may not be possible
        to completely delete all Information due to technological and legal
        constraints. In addition your Health Care Provider and/or Licensed
        Producer may have retained copies of your Medical Document and
        Registration
        Application in accordance with their own privacy policies which MVC
        does not have control over. 10. ACCURACY MVC will take reasonable
        steps to ensure that information we hold is as accurate, complete,
        and up to date as is necessary to minimize the possibility that
        inappropriate
        information may be used to make a decision about a Patient. 11.
        SAFEGUARDS
        We implement administrative, technical and physical security measures
        to protect your Information. These include: MVC uses SSL (Secure
        Socket Layer), the industry standard method for computers to communicate
        securely without risk of manipulation or recipient impersonation.
        We utilize SSL in the online registration process, in the login process,
        and in the account management section of the Site. MVC uses b encryption
        technology to protect sensitive information. MVC employs firewalls
        and system monitoring to protect against unauthorized access of our
        systems. As part of becoming registered for an Account and becoming
        a Member of MVC, you will be asked to create a password. You should
        create a b password (one that uses letters and numbers or symbols
        and is not a dictionary word or name or includes information about
        you such as your date of birth or middle name). Please change your
        password frequently. If you access our Site Services from a public
        computer, please ensure to fully log-out of your Account and delete
        your browsing history and cache. If you access our Site Services
        from your own computer, ensure that your computer is password protected.
        The Information we collect will be stored on our servers which are
        located in multiple locations in Canada. Within MVC, only staff members
        who require access to offer our services will have access to your
        Information. We require anyone who collects, uses or Information
        on our behalf to be aware of the importance of maintaining its
        confidentiality.
        This is done through the signing of confidentiality agreements, privacy
        training, and contractual means. MVC also takes steps to ensure that
        the Information we hold is protected against theft, loss and
        unauthorized
        use or disclosure. Care is used in the destruction of Information,
        to prevent unauthorized parties from gaining access to the Information.
        12. OPENNESS Information about our policies and practices relating
        to the management of Information are available to the public, including:
        Contact information for our Privacy Officers, to whom complaints
        or inquiries can be made; The process for obtaining access to
        Information
        we hold about you, and making requests for its correction; A description
        of the type of Information we hold, including a general account of
        our uses and disclosures; and A description of how to make a complaint
        to MVC or to the applicable Privacy Commissioner. 13. ACCESSING AND
        UPDATING YOUR INFORMATION 13.1 Accessing and Updating your Information
        You may access or update your Information by logging into your Account
        and accessing your Account settings. To access, change or remove
        Information not accessible through your account settings or profiles,
        contact our Member Care team at: info@mvctech.ca. In some cases,
        we may not be able to reasonably accommodate your request to remove
        your Information, in which case we will let you know, and why. For
        example, we will not remove messages that you have sent to others
        through the Portal even if you close your account. 13.2 Cancelling
        your Account If you have registered with Sail Cannabis and prior
        to any transactions, decide that you with to deactivate your account,
        you may contact our Member Care team at info@mvctech.ca and request
        this. Your Information will be removed from the Portal. If a transaction
        has occurred, the history from that transaction will remain, including
        but not limited to medical notes or documents, communication between
        a patient, physician, Licensed Practitioner, appointment history.
        We will retain your Information if we believe it may be necessary
        to prevent fraud or future abuse. We may also retain your Information
        and Non-Identifying Information for business purposes, such as analysis
        in the aggregate, account recovery, auditing our records, enforcing
        our rights and obligations under our agreements or if required by
        law. To the extent permitted by law, MVC disclaims any liability
        in relation to the deletion or retention (subject to the terms herein)
        of information or any obligation not to delete the information. 14.
        CHALLENGING COMPLIANCE WITH MVC PRIVACY POLICIES AND PRACTICES Any
        person may ask questions or challenge our compliance with this policy
        or applicable legislation by contacting our Privacy Officer(s): Kash
        Qureshi MVC Technologies Inc. 200-4257 Sherwoodtowne Blvd., Mississauga
        ON, L4Z 1Y5 1 (855) 874-4999 Ext. 101 MVC will receive and respond
        to complaints or inquiries about our policies and practices relating
        to the handling of Information, and will investigate all complaints.
        If a complaint is found to be justified, MVC will take appropriate
        measures to respond. We will inform Patients who make inquiries or
        lodge complaints of other available complaint procedures, including
        to the Privacy Commissioner of Canada or the Information and Privacy
        Commissioner of Ontario, as applicable. 16. CHANGES TO OUR PRIVACY
        POLICY MVC reserves the right, in its sole discretion, to modify
        this Privacy Policy, at any time and without prior notice. If we
        modify this Policy, we will post the modification via the Site or
        Portal or provide you with notice of the modification. By continuing
        to access or use the Services after we have posted a modification
        via the Site or Portal or have provided you with notice of a
        modification,
        you agree to be bound by the modified Policy. If the modified Policy
        is not acceptable to you, you agree to immediately stop using the
        Site Services. You should periodically check www.sailcannabis.co
        or sailportal.co for updates. Your continued use of the Site or the
        Services after such effective date will constitute acceptance by
        you of the changes.
      </p>

    </section>

    <footer class="footer-action-button">

      <div class="button-container">
        <button class="b b-primary" routerLink="/step3" (click)="goNext($event)">Accept</button>
        <button class="b b-borderless" routerLink="/step1" (click)="goPrev($event)">Cancel</button>
      </div>
    </footer>

  </article>
</main>
