@import "../../../assets/variables";

.figure-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.powered-img {
  max-width: 85px;
  @media screen and (min-width: 1024px) {
    // TEMPORARY -- USE THIS AS STANDARD FOR THIS APP -- DELETE BEFORE PRODUCTION
    width: 33vw;
    max-width: 115px;
  }
}

.intro-text {
  text-align: center;

  @media screen and (min-width: 768px) and (orientation: portrait) {
    // TEMPORARY -- USE THIS AS STANDARD FOR THIS APP -- DELETE BEFORE PRODUCTION
    font-size: 1.5rem;
  }
  @media screen and (min-width: 1366px) and (orientation: landscape) {
    // DESKTOPS WITH LARGE WIDTH
    // LINE: KEEP A GOOD ASPECT FOR THE TEXT WHEN SCREEN IS LARGE
    max-width: 33vw;
  }
}

.section-logo {
  flex: 2;
  align-items: flex-end;
  //min-height: 200px;
}

.section-intro {
  flex: 2;
  align-items: flex-start;

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    max-width: 60vw;
    margin: auto;
  }
}

.section-powered {
  flex: 1;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;

  figcaption {
    margin-top: 20px;
    margin-bottom: 60px;

    @media all and (orientation: landscape) and (max-height: 1024px) {
      margin-top: 0;
      margin-bottom: 30px;
    }

  }
}
