<main class="component-root">
  <section class="section-logo">
    <figure class="figure-logo">
      <img src="../../../assets/images/logo-saildiscover.png" alt="{{ sailstrains }}">
    </figure>
  </section>
  <section class="section-intro">
    <p class="intro-text" >
      <!-- {{ introtext }} --><span [innerHTML]="introtext"></span>
    </p>
  </section>
  <section class="section-powered">
    <figure class="figure-logo">
      <img class="powered-img" src="../../../assets/images/logo-sail.png"
           alt="{{ poweredby }}">
    </figure>
    <figcaption>{{ poweredby }}</figcaption>
  </section>

  <footer class="footer-action-button">
    <div class="button-container">
      <sailstrains-button
        [b1]= "btntext"
        b1route="/step2"
        b1function="foo-step1"
        (b1Click)="goNext($event)"
        [b1disabled]="!enableButton">
      </sailstrains-button>
    </div>
  </footer>
</main>
