@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  //  overriding styles.css
  display: block;
}

.cannabis-profile {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  max-width: 600px;
  margin: auto;
}

.footer-action-button {
  width: calc(100% - 3rem);
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.selectors-container {
  //width: 100%;
  //max-width: 350px;
  margin: 0 auto 30px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.selector-rounded {
  width: 88px;
  height: 88px;
  margin: 0 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (max-width: 768px) {
    margin: 0 5px;
  }
}

.selector-rounded:nth-child(1) {
  background-color: rgba(123, 127, 240, 0.2);
  border: solid 4px #7b7ff0;
  color: #7b7ff0;
}

.selector-rounded:nth-child(2) {
  background-color: rgba(48, 210, 212, 0.2);
  border: solid 4px #30d2d4;
  color: #30d2d4;
}

.selector-rounded:nth-child(3) {
  background-color: rgba(132, 146, 166, 0.2);
  border: solid 4px #8492a6;
  color: #8492a6;
}

.subtitle2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.subtitle2-link {
  margin-bottom: 20px;

  &:visited {
    color: #7a7cf3;
    text-decoration: none;
  }
}

.conditions-container {
  width: 100%;
  padding: 11px;
  font-weight: bold;
  font-size: 14px;
  border: solid 1px #d3dce6;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #f0f3f7);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  //.single-condition {
  //  padding: 20px 0;
  //}
}

.suggested-container {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;

  .suggested-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    color: $blue-grey;
    border-radius: 4px;
    background-color: #ececec;
    text-align: center;
  }
}

.flex-row {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .fa {
    font-size: 48px;
    margin-left: 12px;
  }
}
