<sailstrains-header cname="Your Cannabis Profile For" b1="Go Back" b1route="/step7" b2="Start Over" b2route="/" f="foo1"
  (b1Click)="goPrev($event)" (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">
  <section class="cannabis-profile">

    <!--FIRST BLOCK-->
    <div class="flex-row">
      <select name="cannabis-profile-condition" id="cannabis-profile-condition" class="conditions-container" (change)="onChange($event.target.value)">
        <option *ngFor="let condition of conditions.options" value="{{ condition.title }}" class="single-condition">
          <!-- {{ condition.id + ": " + condition.title }} -->
          {{ condition.title }}
        </option>
      </select>
    </div>

    <!--SECOND BLOCK-->
    <h1 class="subtitle2">{{ text1 }}</h1>
    <a class="subtitle2-link" routerLink="/step9" (click)="goCannabinoid($event)">{{ text2 }}</a>

    <!--THIRD BLOCK-->
    <section class="selectors-container">
      <span class="selector-rounded" *ngFor="let cannabioid of cannabioids.options" id="{{cannabioid.id}}">
        {{ cannabioid.title }}</span>
    </section>

    <!--FOURTH BLOCK-->
    <h1 class="subtitle2">{{ text3 }}</h1>
    <a class="subtitle2-link" routerLink="/step10" (click)="goTerpene($event)">{{ text4 }}</a>

    <!--FIFTH BLOCK-->
    <ul class="suggested-container">
      <li class="suggested-item" *ngFor="let terpenes of terpeneses.options" id="{{terpenes.id}}">
        <!-- {{ terpenes.id + ": " + terpenes.title }} -->
        {{ terpenes.title }}
      </li>
    </ul>
  </section>
</main>

<footer class="footer-action-button">
  <div class="button-container">
    <sailstrains-button b1="Back to Menu"
                        b1route="/step7"
                        (b1Click)="goPrev($event)"
                        [b1disabled]='false'>
    </sailstrains-button>
  </div>
</footer>
