<sailstrains-header cname="Do You Know the Lot or Batch Number of the Strain?" b1="Go Back" b1route="/step14" b2="Start Over"
  b2route="/" f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)"></sailstrains-header>

<main class="component-root">
  <!--<sailstrains-single-selection json="sailstrains-step3"></sailstrains-single-selection>-->
  <section class="search-section">

    <h1 class="title">LOT / BATCH NUMBER</h1>
    <input class="search" type="search" name="search" id="search" placeholder="Typically found on the product packaging…" [(ngModel)]="BatchNumber">

  </section>
</main>

<footer class="footer-action-button">

  <sailstrains-progress currentValue="1" maxValue="7" f="none"></sailstrains-progress>

  <div class="button-container">
    <sailstrains-button b1="Continue" b1route="/step17" f="foo2" (b1Click)="goNext($event)"></sailstrains-button>
  </div>

</footer>