<sailstrains-header cname="How Many Grams Were You Taking Per Day?" b1="Go Back" b1route="/step18" b2="Start Over"
                    b2route="/"
                    f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)"></sailstrains-header>

<main class="component-root">
  <!--<sailstrains-single-selection json="sailstrains-step3"></sailstrains-single-selection>-->
  <section class="search-section">

    <h1 class="title">AMOUNT*</h1>
    <input class="grams"
           type="number"
           name="grams"
           id="grams"
           placeholder="Enter amount of grams per day…"
           [(ngModel)]="IntakeQuantity"
           (click)="canMoveOn = true;">

  </section>
</main>

<footer class="footer-action-button">

  <sailstrains-progress
    currentValue="45">
  </sailstrains-progress>

  <div class="button-container">
    <sailstrains-button b1="Continue"
                        b1route="/step20"
                        (b1Click)="goNext($event)"
                        [b1disabled]='!canMoveOn'>
    </sailstrains-button>
  </div>

</footer>
