@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  //  overriding styles.css
  //display: block;
}

.footer-action-button {
  width: calc(100% - 3rem);
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.search-section {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  // overriding inherited styles
  padding-top: 0;
  width: 100%;
  max-width: 320px;
  margin: auto;

  .title {
    font-size: 10px;
    font-weight: bold;
  }

  input[type="number"] {
    width: calc(100% - 2rem);
    padding: 1rem;
    border: solid 1px #d3dce6;
    border-radius: 4px;
    background-color: #ffffff;
    color: $blue-grey;
  }
}
