<article class="collapsible-article collapsed" [ngClass]="b1collapsedClass">
  <h1 class="collapsible-title" (click)="onDisappear()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    {{ b1title }}
  </h1>
  <p class="collapsible-body" (click)="testConsoleLog()">{{ b1body }}</p>
</article>
