:host {
  &:last-child {
    border-bottom: 2px solid #d3dce6;
  }
}

.collapsible-article {
  border-top: 2px solid rgba(226, 235, 245, 0.8);
  /* STATE WHEN IT IS COLLAPSED */
  &.collapsed {
    .collapsible-body {
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }
  /* STATE WHEN IT'S NOT COLLAPSED */
  &.not-collapsed {
    .fa-arrow-right {
      transform: rotate(90deg);
    }
    .collapsible-body {
      height: auto;
      opacity: 1;
      margin-bottom: 20px;
    }
  }
}

.collapsible-title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: normal;

  .fa {
    transition-property: transform;
    transition-duration: 220ms;
  }
}

.collapsible-body {
  margin: 0;
  transition-property: opacity;
  transition-duration: 220ms;
}
