@import "../../../assets/variables";

header {
  // POSITION
  // DISPLAY
  display: flex;
  flex-direction: column;
  align-items: center;
  // BOX
  // TYPOGRAPHIC
  // VISUAL

  @media screen and (max-width: 480px) {
    .text {
      display: none;
    }
  }

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1366px;

    .icon {
      display: none;
      outline: none;

      @media screen and (max-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        //font-size: 2rem;
        //font-weight: bold;
        color: $blue-grey;
        padding: 1rem;
        height: 50px;
        width: 50px;
      }
    }

    .header-logo {
      max-width: 50vw;
      max-height: 12vh;
      margin: 20px auto;

      @media screen and (orientation: landscape) and (max-height: 480px) {
        max-height: 20vh;
      }
      @media screen and (min-width: 480px) {
        margin-top: 40px;
        margin-bottom: 30px;
      }

    }

    .b-header {
      padding: .75rem;
      margin: 1rem;
      width: 160px;
      border-radius: 8px;
      background-color: #ffffff;
      border: solid 1px #d3dce6;
      color: #324057;
      font-family: $font-family;
      font-size: 1.25rem;

      @media screen and (max-width: 480px) {
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0;
        margin: 0;
        width: unset;
      }
      @media screen and (min-width: 480px) {
        margin-top: 40px;
      }
    }
  }

  .title-row {
    .page-title {
      color: $text-color;
      padding: 1.5rem;
      font-weight: normal;
      text-align: center;
      margin: 0;

      @media screen and (min-width: 480px) {
        font-size: 2.5rem;
      }
      @media screen and (max-width: 480px) {
        padding: 1rem;
      }
    }
  }
}
