<header>
  <div class="header-row">
    <button class="b-header b-header-left"
            routerLink="{{ b1route }}"
            (click)="onb1Click($event)">
      <span class="text">
        {{ b1 }}
      </span>

      <span class="icon">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </span>

    </button>
    <img class="header-logo"
         src="../../../assets/images/logo-saildiscover.png"
         alt="That's the headers logo">
    <button class="b-header b-header-right"
            routerLink="{{ b2route }}"
            (click)="onb2Click($event)">
      <span class="text">
        {{ b2 }}
      </span>
      <span class="icon">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="title-row">
    <h2 class="page-title">
      {{ cname }}
    </h2>
  </div>
</header>
