@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  background-color: #f5f7fa;
  max-height: 100%;
  overflow-y: auto;
  display: block;
}

.recommended-strains {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 640px) {
    margin: 0 auto;
    max-width: 550px;
  }
}

.conditions-container {
  width: 100%;
  padding: 11px;
  font-weight: bold;
  font-size: 14px;
  border: solid 1px #d3dce6;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #f0f3f7);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  .single-condition {
    padding: 20px 0;
  }
}

.search-feedback {
  color: $blue-grey;
  font-size: 14px;
}

.strains-container {
  width: 100%;

  .not-found {
    font-size: 24px;
    text-align: center;
    color: $blue-grey;
  }
}

.flex-row {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .fa {
    font-size: 48px;
    margin-left: 12px;
  }
}
