<!-- TEMPORARILY COMMENTED FOR DEV PURPOSES
<sailstrains-header cname="Your Cannabis Profile For"
                    b1="Go Back" b1route="/step7" b2="Start Over" b2route="/"
                    f="foo1">
</sailstrains-header>
-->
<sailstrains-header cname="Your Recommended Strains"
                    b1="Go Back" b1route="/step11"
                    b2="STEP 13" b2route="/step13" f="foo1">
</sailstrains-header>

<main class="component-root">
  <section class="recommended-strains">
    <!--FIRST BLOCK-->
    <!--<select name="cannabis-profile-condition" id="cannabis-profile-condition"
            class="conditions-container">
      <option *ngFor="let condition of conditions.options"
              value="{{ condition.id }}" class="single-condition">
        {{ condition.id + ": " +
        condition.title }}
      </option>
    </select>-->
    <div class="flex-row">
      <select name="cannabis-profile-condition" id="cannabis-profile-condition"
              class="conditions-container">
        <option *ngFor="let condition of conditions.options"
                value="{{ condition.id }}" class="single-condition">
          {{ condition.id + ": " +
          condition.title }}
        </option>
      </select>

      <i class="fa fa-external-link-square" aria-hidden="true"
         routerLink="/step13"></i>
    </div>

    <!--SECOND BLOCK-->
    <span class="search-feedback">
      {{ results }}
    </span>
    <!--THIRD BLOCK-->
    <article class="strains-container">
      <p class="not-found">
        Sorry, we can’t find
        any strains that match.
      </p>
      <p class="not-found">
        Try reseting your filters
        to get more options.
      </p>
    </article>

  </section>
</main>

<footer class="footer-action-button">
  <div class="button-container">
    <sailstrains-button b1="Back to Menu" b1route="/"
                        b1function="foo-step8">
    </sailstrains-button>
  </div>
</footer>
