:host {
  //background-color: rgba(211, 211, 211, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 2rem);
  width: 100%;

  .fas, .fa-spinner {
    animation: spin 1.2s linear infinite;
    font-size: 3rem;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
