@import "../../../assets/variables";

.component-root {
  align-items: center;
  padding: 1.5rem;
  height: calc(100% - 3rem);
  max-width: calc(100vw - 3rem);
  background-color: rgba(32, 41, 56, 0.7);

  .overlay {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: unset;
    min-width: 50%;
    border: solid 1px #d3dce6;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;

    @media screen and (min-width: 1024px) and (orientation: landscape) {
      max-width: calc(100% - 3rem);
    }
    @media screen and (min-width: 1366px) and (orientation: landscape) {
      max-width: calc(80% - 3rem);
    }

    // CUSTOM FOR THE TERMS AND CONDITIONS
    .page-title {
      align-items: start;
      flex-direction: column;

      @media screen and (min-width: 1366px) and (orientation: landscape) {
        font-size: 20px;
        padding-bottom: 0;
      }

      h1 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 1.5rem;
        width: 100%;
      }
    }
    .terms {
      font-size: 14px;
    }
  }
}

.section-scrollable {
  // DISPLAY AND POSITIONING
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // BOX
  max-height: 100%;
  padding-top: 0;
  // VISUAL
  overflow-x: hidden;
  overflow-y: auto;
}

.button-container {
  width: 100%;
  justify-content: flex-start;
  margin-left: 20px;
  background-image: none;

  &:hover {
    background-image: none;
  }
}

.paragraph-title {
  font-size: 10px;
}

.checkbox-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #D3DCE6;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &:last-child {
    border-bottom: none;
  }

  .single-checkbox-container {
    width: 50%;
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      width: 33%;
    }
    display: flex;

    & > label {
      flex: 1;
    }
  }
}

.footer-action-button {
  padding: 0;
}

.closeIcon {
  height: 17px;
  width: 17px;
  color: black;
  //color: white;
  //background-color: transparent;
  //margin-right: -60px;
  //margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 1366px) {
    display: none;
  }
}
