<main class="component-root" (click)="overlayClicked($event)">

  <article class="overlay">
    <section class="page-title">
      <h1>
        {{ header_text }}
        <i class="fa fa-window-close closeIcon" aria-hidden="true"
           (click)="overlayClicked($event)">
        </i>
      </h1>

    </section>

    <section class="section-scrollable">

      <!--BLOCK #1-->
      <h1 class="paragraph-title">
        {{products.text1}}
      </h1>
      <div class="checkbox-container">
        <div *ngFor="let product of products.options" class="single-checkbox-container">
          <label for="productID_{{ product.id }}">
            <input type="checkbox" name="productName_{{ product.id }}" id="productID_{{ product.id }}" [(ngModel)] = "product.selected"> {{ product.type }}
          </label>
        </div>
      </div>

      <!--BLOCK #2-->
      <h1 class="paragraph-title">
        {{strains.text2}}
      </h1>
      <div class="checkbox-container">
        <div *ngFor="let strain of strains.options" class="single-checkbox-container">
          <label for="strainID_{{ strain.id }}">
            <input type="checkbox" name="strainName_{{ strain.id }}" id="strainID_{{ strain.id }}" [(ngModel)] = "strain.selected"> {{ strain.type }}
          </label>
        </div>
      </div>
      <!--BLOCK #3-->
      <h1 class="paragraph-title">
        {{activities.text3}}
      </h1>
      <div class="checkbox-container">
        <div *ngFor="let activity of activities.options" class="single-checkbox-container">
          <label for="activityID_{{ activity.id }}">
            <input type="checkbox" name="activityName_{{ activity.id }}" id="activityID_{{ activity.id }}" [(ngModel)] = "activity.selected"> {{ activity.type }}
          </label>
        </div>
      </div>
    </section>

    <footer class="footer-action-button">

      <div class="button-container">
        <button class="b b-primary" routerLink="/step8" (click)="goSave($event)" title="SAVES AND GOES BACK">
          Save
        </button>
        <button class="b b-secondary" title="CLEARS THE FORMS ONLY" (click)="goReset($event)">Reset
        </button>
        <button class="b b-borderless" routerLink="/step8" (click)="goCancel($event)" title="CANCEL OPERATION">Cancel
        </button>
      </div>
    </footer>

  </article>

</main>
