<sailstrains-header cname="Which conditions are you treating with cannabis?" b1="Go Back" b1route="/step4"
                    b2="Start Over"
                    b2route="/" f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">
  <section class="subtitle-section">

    <h2 class="subtitle">
      {{ subtitle }}
    </h2>
    <div class="search-bar">
      <input class="search" type="search" name="search" id="search" placeholder="Search conditions…"
             [(ngModel)]="strFilter">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

  </section>
  <section class="multiple-selection">
    <div class="each-selection-element"
         *ngFor="let option of single_selection.options | MedicalConditionFilter: strFilter">

      <label for="{{ option.id }}" title="Title for {{ option.description }}">

        <input type="checkbox"
               name="{{ single_selection.selector_name }}"
               id="{{ option.id }}" value="{{ option.name }}"
               (click)="onElementSelection(option.id)"
               [checked]="option.selected">
        {{ option.description }}
      </label>
    </div>

  </section>
</main>

<footer class="footer-action-button">

  <sailstrains-progress
    currentValue="75">
  </sailstrains-progress>

  <div class="button-container">
    <sailstrains-button b1="Continue"
                        b1route="/step6"
                        (b1Click)="goNext($event)"
                        [b1disabled]="!verifyMedicalCondition()">
    </sailstrains-button>
  </div>
</footer>
