<sailstrains-header cname="Which Negative Effects Did You Experience?" b1="Go Back" b1route="/step20" b2="Start Over" b2route="/"
  f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)"></sailstrains-header>

<main class="component-root">
  <section class="multiple-selection">
    <div class="each-selection-element" *ngFor="let option of single_selection.options">

      <label for="{{ option.id }}" title="Title for {{ option.description }}">

        <input type="checkbox" name="{{ single_selection.selector_name }}" id="{{ option.id }}" value="{{ option.name }}" (click)="onElementSelection(option.id)"
          [checked]="option.selected"> {{ option.description }}
      </label>
    </div>
  </section>
</main>

<footer class="footer-action-button">

  <sailstrains-progress
    currentValue="85">
  </sailstrains-progress>

  <div class="button-container">
    <sailstrains-button b1="Continue"
                        b1route="/step22"
                        (b1Click)="goNext($event)"
                        [b1disabled]='!canMoveOn'>
    </sailstrains-button>
  </div>

</footer>
