@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  background-color: #f5f7fa;
  max-height: 100%;
  overflow-y: auto;
  display: block;
}

.recommended-strains {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 640px) {
    margin: 0 auto;
    max-width: 550px;
    height: calc(100% - 2rem);
  }
}

.conditions-container {
  width: 100%;
  padding: 11px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 14px;
  border: solid 1px #d3dce6;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #ffffff, #f0f3f7);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

  .single-condition {
    padding: 20px 0;
  }
}

.search-feedback {
  color: $blue-grey;
  font-size: 14px;
}

.strains-container {
  width: 100%;

  .strain-item {
    display: flex;
    //border: 1px solid hotpink;
    margin: 30px 0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.05);

    //@media all and (max-width: 1024px){
    //  flex-direction: column;
    //}

    &:nth-child(odd) {
      .card-image-background {
        background-color: #38b2ea;
      }
    }
    &:nth-child(even) {
      .card-image-background {
        background-color: #2bb8ba;
      }
    }
  }
  .card-image-background {
    max-width: 96px;
    min-height: 96px;
    height: 96px;
    max-height: 96px;
    flex: 1;
    font-size: 54px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;

    //@media all and (max-width: 1024px){
    //  border-bottom-left-radius: 0;
    //  border-bottom-right-radius: 4px;
    //}

    .card-image-content {
      max-width: 100%;
      max-height: 120px;
    }
  }
  .card-body {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      color: black;
      font-size: 16px;
    }
    .subtitle {
      margin-top: -15px;
      color: $blue-grey;
      font-size: 14px;
    }
    .concentration-line {
      font-size: 16px;
      display: flex;
      //justify-content: space-between;

      .concentration-subblock:first-child {
        margin-right: 10px;
      }
      .name {
        color: $blue-grey;
      }
      .value {
        color: #324057;
      }
    }
  }
}
