<sailstrains-header cname="Your Saved Strains"
                    b1="Go Back"
                    b1route="/step7"
                    b2="Start Over"
                    b2route="/"
                    (b1Click)="goPrev($event)"
                    (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">
  <section class="recommended-strains">

    <!--FIRST BLOCK-->
    <article class="strains-container">
      <div class="strain-item"
           *ngFor="let strain of strains.options"
           id="{{strain.id}}"
           routerLink="/step14">

        <div class="card-image-background"
            [style.background-color]="strain.productColor"
             title="{{ strain.id + ': ' + strain.title }}">
          <img class="card-image-content"
               *ngIf="strain.img != null "
               [src]="strain.img"
               alt="{{strain.title }}">
        </div>

        <div class="card-body"
             (click)="goStrain(strain.productid)">

          <span class="title">{{ strain.title }}</span>
          <span class="subtitle">{{ strain.type }}  {{ strain.productType}}</span>

          <div class="concentration-line">
            <div *ngIf="strain.THC>0"
                 class="concentration-subblock">
              <span class="name">THC</span>
              <span class="value">{{ strain.THC }}%</span>
            </div>
            <div *ngIf="strain.CBD>0"
                 class="concentration-subblock">
              <span class="name">CBD</span>
              <span class="value">{{ strain.CBD }}%</span>
            </div>
          </div>
        </div>
      </div>
    </article>

    <sailstrains-loading *ngIf="loadingSpinner"></sailstrains-loading>

  </section>
</main>

<footer class="footer-action-button">
  <div class="button-container">
    <sailstrains-button b1="Back to Menu"
                        b1route="/step7"
                        (b1Click)="goPrev($event)"
                        [b1disabled]='false'>
    </sailstrains-button>
  </div>
</footer>
