<main class="component-root">

  <article class="overlay">
    <section class="page-title">
      <h1>
        Email Sent!
      </h1>

    </section>

    <section class="section-scrollable">

      <p class="terms">
        Thank you, your email has been successfully sent.
      </p>

      <p class="terms">
        Do you want to exit or continue using Strain Finder?
      </p>

    </section>

    <footer class="footer-action-button">

      <div class="button-container">
        <!--<button class="b b-primary" routerLink="/step8">Accept</button>-->   
        <button class="b b-primary" routerLink="/step7" (click)="goContinue($event)">Continue</button>
        <button class="b b-secondary" routerLink="/" (click)="goRestart($event)" >Exit</button>
      </div>
    </footer>

  </article>

</main>
