@import "../../../assets/variables";

.component-root {
  // DISPLAY
  align-items: center;
  justify-content: center;
  // BOX
  padding: 1.5rem;
  height: calc(100% - 3rem);
  max-width: calc(100vw - 3rem);
  // VISUAL
  background-color: rgba(32, 41, 56, 0.7);

  .overlay {
    // DISPLAY
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // BOX
    height: 60%;
    min-height: 300px;
    // VISUAL
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px #d3dce6;

    @media screen and (min-width: 1024px) and (orientation: landscape) {
      max-width: calc(100% - 3rem);
    }
    @media screen and (min-width: 1366px) and (orientation: landscape) {
      max-width: calc(80% - 3rem);
    }

    // CUSTOM FOR THE TERMS AND CONDITIONS
    .page-title {
      align-items: start;
      flex-direction: column;

      h1 {
        margin: 0;
        font-size: 24px;
        font-weight: normal;
      }
    }
    .terms {
      font-size: 14px;
    }
  }
}

.section-scrollable {
  // DISPLAY AND POSITIONING
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // BOX
  max-height: 100%;
  padding-top: 0;
  // VISUAL
  overflow-x: hidden;
  overflow-y: auto;
}

.paragraph-title {
  font-size: 1rem;
  font-weight: bold;
}

.button-container {
  background-image: none;
  &:hover {
    background-image: none;
  }

  .b-primary {
    flex: 1;
  }
}
