<sailstrains-header cname="Email Me This Info" b1="Go Back" b1route="/step24" b2="Start Over" b2route="/" f="foo1"
                    (b1Click)="goPrev($event)"
                    (b2Click)="goRestart($event)">
</sailstrains-header>

<sailstrains-notification-message *ngIf="showNotification"
  message="We’re unable to send this email at this time, please try again later.">
</sailstrains-notification-message>

<main class="component-root">
  <section class="email-me-section">
    <p class="centralized">
      We’ll send you your cannabinoid profile, your saved strains, your dosage guidelines and information about
      consumption methods.
    </p>

    <hr class="full">

    <p class="centralized">
      We’re also working on a few more free tools to help medical cannabis patients manage their progress, including:
    </p>
    <div class="bullet">
      <i class="fa fa-check" aria-hidden="true"></i>
      <img class="icon-image" src="../../../assets/images/email-bullet1.PNG" alt="Highlight 1">
      <span>Cannabis Log for Treatment Tracking</span>
    </div>
    <div class="bullet">
      <i class="fa fa-check" aria-hidden="true"></i>
      <img class="icon-image" src="../../../assets/images/email-bullet2.PNG" alt="Highlight 2">
      <span>Dispensary / Licensed Producer Info</span>
    </div>
    <div class="bullet">
      <i class="fa fa-check" aria-hidden="true"></i>
      <img class="icon-image" src="../../../assets/images/email-bullet3.PNG" alt="Highlight 3">
      <span>Appointment Scheduler</span>
    </div>

    <label for="dispensary" *ngIf="notifyLpOption"
           style="margin-top: 10px">
      <input type="checkbox"
             name="dispensary"
             id="dispensary"
             [(ngModel)]="data.notifyLp">
      Send my strain selections to the dispensary.
    </label>
    <label for="news">

      <input type="checkbox"
             name="news"
             id="news"
             [(ngModel)]="data.notifyMe">
      Notify me of new product releases from Sail Cannabis.
    </label>

    <div class="email-row margin" [ngClass]="{'disabled': !data.notifyLp}">
      <input type="text" placeholder="First Name" class="email" [(ngModel)]="data.fName" [disabled]="!data.notifyLp">
      <input type="text" placeholder="Last Name" class="email" [(ngModel)]="data.lName" [disabled]="!data.notifyLp">
    </div>

    <div class="email-row">
      <input type="email" placeholder="Email Address*" class="email" [(ngModel)]="data.email">
      <button class="b-primary" routerLink="/step26" (click)="sendEmail($event)" [class.disabled]="!validateEmail()"
              [disabled]="!validateEmail()">Send Email
      </button>
    </div>

  </section>
</main>

<sailstrains-loading *ngIf="loadingSpinner"></sailstrains-loading>

<!--BELOW FOR TESTING PURPOSES ONLY-->
<!--<sailstrains-loading></sailstrains-loading>-->
