@import "../../../assets/variables";

.component-root {
  overflow-y: auto;
}

.disabled input {
  background-color: #ebebeb;
}

.email-me-section {
  display: block;
  padding-bottom: 30px;

  @media screen and (min-width: 640px) {
    margin: 0 auto;
    max-width: 550px;
  }

  .centralized {
    margin: 0 0 20px;
    font-size: 14px;
    text-align: center;
  }
}

.full {
  width: calc(100% - 40px);
  border: 1px solid rgba(211, 220, 230, 0.5);
  margin: 20px;
}

.bullet {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
  color: #242424;

  @media screen and (max-width: 640px) {
    font-size: 14px;
    margin: 3px 0;
  }

  .fa,
  .svg-inline--fa {
    margin-right: 10px;
    font-size: 20px;
    color: #30d2d4;

    @media screen and (min-width: 641px) {
      display: none;
    }
  }

  .icon-image {
    max-width: 50px;
    margin-right: 10px;

    @media all and (max-width: 640px) {
      display: none;
    }
  }
}

.email-row {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 10px 0 0;
  align-items: center;

  &.margin > input:nth-child(2) {
    margin-left: 10px;
  }
}

label {
  display: flex;
  font-size: 14px;
  padding: 5px 0;

  input {
    margin-top: 5px;
    margin-right: 10px;
  }
}

.email-row {
  display: flex;

  &.margin {
    margin-bottom: 10px;
  }

  input[type="text"] {
    flex: 1;
    max-width: calc(50% - 5px);
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.email {
  flex: 1;
  padding-left: 20px;
  font-size: 14px;
  height: 36px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d3dce6;
  color: $blue-grey;
}

.b-primary {
  margin-left: 20px;
  min-width: 112px;
  height: 40px;
  border: none;
  color: white;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #7b7ff0, #7974e3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

  &.disabled {
    background-image: none;
    background-color: $blue-grey;
  }
}

sailstrains-loading {
  height: unset;
  width: unset;
  /*ABOVE ARE INHERITANCE RESETS*/
  position: absolute;
  top: 35vh;
  left: 25vw;
  padding: 2rem 4rem;
  background-color: #5EBA49;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;

  @media all and (min-width: 640px){
    left: 40vw;
  }
  @media all and (min-width: 1366px){
    left: 45vw;
  }
}
