:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-progress-bar {
  width: inherit;
  max-width: 712px;
  margin: 1rem auto 1.5rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #f5f7fa;

  .value {
    background-color: #30d2d4;
    border: none;
    border-radius: 10px;
    height: 10px;
  }
}
