<!--<progress class="progress-bar"-->
<!--value="{{ currentValue }}"-->
<!--max="{{ maxValue }}">-->
<!--</progress>-->
<div class="new-progress-bar">
  <div class="value"
       [style.width]="isSet ? currentValue+'%' : '0%'">
  </div>
</div>
