<sailstrains-header cname="Your Recommended Strains"
                    b1="Go Back"
                    b1route="/step7"
                    b2="Start Over"
                    b2route="/"
                    (b1Click)="goPrev($event)"
                    (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">
  <section class="recommended-strains">

    <!--FIRST BLOCK-->
    <div class="flex-row">

      <select name="cannabis-profile-condition"
              id="cannabis-profile-condition"
              class="conditions-container"
              (change)="onChange($event.target.value)"
              [(ngModel)]="conditionFilter"
              title="List conditions">
        <option *ngFor="let condition of conditions.options"
                value="{{ condition.title }}"
                class="single-condition">

          {{ condition.title }}

        </option>
      </select>

      <span class="icon-button-container" (click)="goFilter($event)" style="z-index: 1999;">
        <i class="fa fa-sliders-h"
           aria-hidden="true">
        </i>
      </span>

    </div>

    <!--SECOND BLOCK-->
    <span class="search-feedback">
      <!--{{resultString}}-->
      Showing <span style="font-weight: bold">{{results.total}}</span> strains
    </span>

    <!--THIRD BLOCK-->
    <article *ngIf="strains.options.length>0" class="strains-container">
    <!--<article *ngIf="strains.options.length == 0" class="strains-container">-->
      <div class="strain-item"
           *ngFor="let strain of strains.options"
           id="{{strain.id}}"
           routerLink="/step14">

        <div class="card-image-background"
            [style.background-color]="strain.productColor"
             title="{{ strain.id + ': ' + strain.title }}">
          <img class="card-image-content"
               *ngIf="strain.img != null "
               [src]="strain.img"
               alt="{{strain.title }}">
        </div>

        <div class="card-body"
             (click)="goStrain(strain.productid)">

          <span class="title">{{ strain.title }}</span>
          <span class="subtitle">{{ strain.type }} {{ strain.productType}}</span>

          <div class="concentration-line">
            <div *ngIf="strain.THC>0"
                 class="concentration-subblock">
              <span class="name">THC</span>
              <span class="value">{{ strain.THC }}%</span>
            </div>
            <div *ngIf="strain.CBD>0"
                 class="concentration-subblock">
              <span class="name">CBD</span>
              <span class="value">{{ strain.CBD }}%</span>
            </div>
          </div>
        </div>
      </div>
    </article>

    <aside class="pagination" *ngIf="strains.options.length>0">
      <span class="arrow arrow-left" (click)="pagePrev()">
        <i class="fa fa-arrow-left"></i>
      </span>
      <div class="r">
        <span class="page-block first-page-block" title="PAGINATION">
        {{page.from}}-{{page.to}}
      </span>
        <span class="page-block"> of </span>
        <span class="page-block second-page-block" title="TOTAL">
        {{page.total}}
      </span>
        <span class="page-block"> Strains </span>
      </div>
      <span class="arrow arrow-right" (click)="pageNext()">
        <i class="fa fa-arrow-right"></i>
      </span>
    </aside>

    <sailstrains-loading *ngIf="loadingSpinner"></sailstrains-loading>

    <article *ngIf="loadingSpinner" class="strains-container">
      Sorry, we can't find any strains the match. Try reset your filters to get more options.
    </article>
    
  </section>
</main>

<footer class="footer-action-button">
  <div class="button-container">
    <sailstrains-button b1="Back to Menu"
                        b1route="/step7"
                        (b1Click)="goPrev($event)"
                        [b1disabled]='false'>
    </sailstrains-button>
  </div>
</footer>
