
<sailstrains-header *ngIf="result === 0" cname="Searching ..." b1="Go Back" b1route="/step5" b2="Start Over"
                    b2route="/"
                    f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)">
</sailstrains-header>

<sailstrains-header *ngIf="result === 1 " cname="Great! We found your perfect match!" b1="Go Back" b1route="/step5" b2="Start Over"
                    b2route="/"
                    f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)">
</sailstrains-header>

<sailstrains-header *ngIf="result === 2" cname="We did not find your match!" b1="Go Back" b1route="/step5" b2="Start Over"
                    b2route="/"
                    f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)">
</sailstrains-header>


<main class="component-root">

  <!-- LOADING STAGE - SHOW ONLY IF RESULTS WERE NOT RETRIEVED YET -->
  <sailstrains-loading *ngIf="result === 0 "></sailstrains-loading>

  <!-- LOAD AFTER RESULT WAS RETRIEVED -->
  <section *ngIf="result === 1 " class="positive-section">
    <img class="positive-img" src="../../../assets/images/icn-happy@3x.png" alt="Smiley face">
    <p class="positive-text">
      <span class="bold">Use the information</span> on the following screens to guide your journey with medical
      cannabis.
    </p>
    <p class="positive-text">
      When you’re done browsing, you’ll also have the option to <span class="bold">email this information</span> to
      yourself for future reference.
    </p>
  </section>

  <!-- SHOW THIS ONE IN THE WORSE CASE CENARIO -->
  <aside *ngIf="result === 2 " class="positive-section bad-news">
    <p>
      Sorry, we can’t find
      any strains that match.
    </p>
    <p>
      Try <span style="cursor: pointer; font-weight: bold;">Start Over</span>
      option above and reset your selections.
    </p>
  </aside>

</main>

<footer class="footer-action-button">

  <sailstrains-progress
    currentValue="100">
  </sailstrains-progress>

  <div class="button-container">
    <sailstrains-button b1="See your results"
                        b1route="/step7"
                        (b1Click)="goNext($event)"
                        [b1disabled]='result !== 1'>
    </sailstrains-button>
  </div>
</footer>
