@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.bold {
  font-weight: bold;
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  //  overriding styles.css
  display: block;
}

.positive-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.bad-news {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .positive-text {
    width: 720px;
    max-width: 90vw;
    margin: 0 auto 20px;
    &:last-child {
      margin-bottom: 0;
    }

    @media all and (min-width: 1024px) {
      font-size: 20px;
    }
  }
  .positive-img {
    max-height: 80px;
    margin: 0 0 1rem;
    align-self: center;

    @media all and (min-width: 1024px) {
      max-height: 120px;
      margin-bottom: 2rem;
    }
  }
}

.footer-action-button {
  width: calc(100% - 3rem);
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

