@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  //  overriding styles.css
  display: block;
}

.footer-action-button {
  width: calc(100% - 3rem);
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.multiple-selection {
  flex: 1;
  flex-direction: column;
  // overriding inherited styles
  align-items: unset;
  padding-top: 0;

  .each-selection-element {
    display: flex;
    flex-direction: column;
    margin: 0;

    @media screen and (min-width: 768px) {
      margin: auto;
      min-width: 768px;
    }
  }

  input[type="radio"] {
    display: none;
  }

  label {
    width: inherit;
    max-width: 768px;
    padding: 1rem;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0ms;
    // TODO: make it keyboard accessible
    //outline-offset: -3px;
    //outline: 3px solid transparent;
    border-top: 1px solid rgba(211, 220, 230, 0.8);
    background-color: white;
    font-size: 1.5rem;

    @media screen and (max-width: 480px) {
      font-size: 1rem;
    }
  }
}

.subtitle-section {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  .subtitle {
    margin: 1rem 0 0;
    font-size: 1rem;
    color: $blue-grey;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
  }
  .alert {
    font-size: .85rem;
    color: #ea3868;
    text-align: center;
    background-color: rgba(255, 142, 170, 0.25);
    margin: 0;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1024px) {
      max-width: 768px;
      margin: auto;
    }

    .fa {
      position: relative;
      right: 55px;
    }

    .search {
      width: inherit;
      height: 40px;
      margin: .5rem auto;
      padding: .5rem 1rem;
      border-radius: .25rem;
      border: 1px solid #d3dce6;
      font-size: .85rem;
      color: $blue-grey;

      /*&::after {
        content: '&#xf00d;';
      }*/
    }
  }
}
