/* Color palette */
$font-family: 'Open Sans', sans-serif;
$text-color: #324057;
$pale-grey: #f0f3f7;
$blue-grey: #8492a6;
$emerald: #00a550;

$bck-getting-started: linear-gradient(102deg, #7b7ff0, #30d2d4);
$bck-getting-started-hovered: linear-gradient(102deg, #29a1a3, #30d2d4);;

/* Animation effects */
.animation-default {
  transition-delay: 15ms;
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: ease;
}

/* LAYOUT STANDARDS */
