<sailstrains-header [cname]="strains.options.ProductName"
                    b1="Go Back"
                    b1route="/step13"
                    b2="Start Over"
                    b2route="/"
                    (b1Click)="goPrev($event)"
                    (b2Click)="goRestart($event)">
</sailstrains-header>

<main class="component-root">
  <section class="discover-product">
    <!--FIRST BLOCK - types info -->
    <div class="types">
      <span class="type">
        {{text1}}
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </span>
      <span class="type">
        {{text2}}
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </span>
    </div>

    <!--SECOND BLOCK - icons -->
    <div class="icons">

      <img *ngIf="strains.options.Activate" (click)="onActivaty($event)" class="comparison"
           src="../../../assets/images/icn-active@2x.png" alt="Active image">

      <img *ngIf="strains.options.Relax" (click)="onRelax($event)" class="comparison"
           src="../../../assets/images/icn-relaxed@2x.png" alt="Relaxed image">

    </div>

    <!--THIRD BLOCK - buttons -->
    <div class="buttons">
      <button class="classic-button" (click)="onSaveOrRemove()">
        <span *ngIf="!btnRemove">Save Strain</span>
        <span *ngIf="btnRemove">Remove Strain</span>
      </button>
      <button class="classic-button" routerLink="/step16" (click)="goReview($event)">Review Strain
      </button>
    </div>

    <!--4th BLOCK - recommended consumption -->
    <div class="view-details">
      <span class="text3">{{text3}}</span>
      <span class="text4">{{text4}}</span>
      <span class="text5" routerLink="/step15" (click)="goDetail($event)">{{text5}}</span>
    </div>
    <!--5th BLOCK - graphs -->
    <div class="graph-container">
      <!--GRAPH 1-->
      <div class="graph" *ngIf="this.chartData.Cannabinoids.length > 0">

        <canvas id="chartCannabinoids" class="graph-image"></canvas>

        <div class="graph-info">
          <h1 class="title">Cannabinoids</h1>
          <div class="line" *ngFor="let cannabinoid of chartData.Cannabinoids">
            <div class="rem1"></div>
            <span class="text">{{cannabinoid.Value}}% {{cannabinoid.Type}}</span>
          </div>
        </div>

      </div>

      <!--GRAPH 2-->
      <div class="graph" *ngIf="this.chartData.Terpenes.length > 0">

        <canvas id="chartTerpenes" class="graph-image"></canvas>

        <div class="graph-info">
          <h1 class="title">Terpenes</h1>
          <div class="line" *ngFor="let terpene of chartData.Terpenes">
            <div class="rem1"></div>
            <span class="text">{{terpene.Value}}% {{terpene.Type}}</span>
          </div>
        </div>

      </div>
    </div>

    <!--6th BLOCK - available from -->
    <div class="supplier-container" *ngIf="LP_Logo">
      <h1 class="supplier-title">Available from:</h1>
      <div class="supplier">
        <img [src]="LP_Logo" alt="" class="supplier-image">

        <div class="supplier-info">
          <p class="supplier-location" [innerHTML]="LP_Address"></p>
        </div>
      </div>
    </div>

  </section>

</main>

<footer class="footer-action-button">
  <div class="button-container">
    <sailstrains-button b1="Back to Strains"
                        b1route="/step11"
                        (b1Click)="goPrev($event)"
                        [b1disabled]='false'>
    </sailstrains-button>
  </div>
</footer>
