@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  display: block;
}

.discover-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;

  @media screen and (min-width: 640px) {
    margin: 0 auto;
    max-width: 550px;
  }
}

/* FIRST BLOCK - types info */
.types {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .type {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-right: 1px solid gray;
    color: #8492a6;

    @media all and (min-width: 768px) {
      font-size: 20px;
    }

    &:first-child {
      justify-content: flex-end;
    }
    &:last-child {
      justify-content: flex-start;
      border-right: none;
    }

    .fa, .svg-inline--fa {
      font-size: 12px;
      margin-left: 7px;
      //border: 1px solid hotpink;
      //color: pink;
    }
  }
}

/* SECOND BLOCK - icons */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .comparison {
    max-height: 40px;
    margin: 0 5px;
    cursor: pointer;
  }
}

/*THIRD BLOCK - buttons*/
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .classic-button {
    min-width: 150px;
    max-width: 200px;
    border: solid 1px #d3dce6;
    margin: 10px;
    padding: 15px 20px;
    color: #8492a6;
    font-size: 14px;
    //font-weight: bold;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff, #f0f3f7);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
}

/* 4th BLOCK - recommended consumption */
.view-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;

  .text3 {
    font-weight: bold;
    margin: 1rem 0 0.5rem;
  }
  .text4 {
    background-color: #38b2ea;
    color: white;
    padding: 2px 12px;
    border-radius: 4px;
    font-size: 12px;
  }
  .text5 {
    font-size: 14px;
    color: #7b7ff0;
    text-decoration: underline;
    margin: 10px 1rem;
    cursor: pointer;
  }
}

/* 5th BLOCK - graphs */
.graph-container {
  width: 100%;

  .graph {
    margin: 20px 0 35px;
    display: flex;
    align-items: center;
    //height: 120px;
    //justify-content: center;
    //min-height: 120px;
    //max-height: 120px;

    .graph-image {
      /* DESKTOP VIEW */
      @media all and (min-width: 1024px) {
        max-width: 275px;
        margin-left: 45px;
        margin-right: -45px;
      }
      /* MOBILE VIEW */
      @media all and (max-width: 1024px) {
        max-width: 50%;
        margin-left: 0;
        margin-right: 0;
      }
    }

    .graph-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 14px;

      @media all and (max-width: 768px) {
        padding-left: 0;
      }
      .title {
        font-size: 14px;
        margin: 0 0 10px;
      }

      .line {
        display: flex;
        align-items: center;

        &:nth-child(2) {
          .rem1 {
            background-color: #7b7ff0;
          }
        }
        &:nth-child(3) {
          .rem1 {
            background-color: #30d2d4;
          }

        }
        &:nth-child(4) {
          .rem1 {
            background-color: #38b2ea;
          }
        }
      }

      .rem1 {
        height: 1rem;
        width: 1rem;
        margin-right: 10px;
      }
    }
  }
}

/*6th BLOCK - available from*/
.supplier-container {
  width: 100%;
  //border: 1px solid springgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (max-width: 768px) {
    //  NOTHING
  }

  .supplier-title {
    margin: 20px auto;
    font-size: 14px;

    @media all and (max-width: 768px) {
      //  nothing
    }
  }

  .supplier {
    //border: 1px dashed crimson;
    display: flex;
    justify-content: center;

    .supplier-image {
      //border: 1px dotted blue;
      flex: 1;
      max-width: 50%;
      max-height: 120px;
    }
    .supplier-info {
      flex: 1;
      //border: 1px dotted pink;
      padding: 10px;

      .supplier-location {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

.alert-saved {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100%);
  //border: 1px solid black;
  display: flex;
  align-items: center;
  transition-timing-function: ease-out;
  transition-property: opacity;
  transition-duration: 2s;
  background-color: #30d2d4;

  &:hover,
  &:active {
    opacity: 0;
  }

  &.gray {
    background-color: lightgray;
    opacity: 0;
    display: none;
  }
  .fa {
    padding: 1rem;
    color: white;
    font-size: 24px;
  }
  .alert-message {
    color: white;
    padding: 1rem 2rem 1rem 0;
    font-weight: bold;
    font-size: 14px;
  }
}
