:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 15vw;
  position: absolute;
  top: 0;
  left: 0;
}

h3 {
  //z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 250px;
  width: 80vw;
  max-width: 500px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #ea3868;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: normal;
  transition-timing-function: linear;
  transition-duration: 400ms;
  transition-delay: 0s;
  transition-property: opacity;

  &.transparent {
    //z-index: -1;
    opacity: 0;
    animation-duration: 600ms;
    animation-name: slideout;
  }

  span {
    max-width: 80%;
    font-size: 13px;
  }
}

@keyframes slideout {
  from {
    margin-top: unset;
  }

  to {
    margin-top: -60px;
    display: none;
  }
}
