@import "assets/variables";

/* CLASSES */
.hidden {
  display: none;
}

.component-root {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* CUSTOM COMPONENTS */
sailstrains-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 100vw;
  overflow: hidden;
}

router-outlet + * {
  // This one line allow all the hosts (actual routes) to use the full available width (since it's a col)
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: inherit;
}

/* MAIN ELEMENTS HTML SELECTORS */
body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  color: $text-color;
  line-height: 1.5;
  user-select: none;

  @media screen and (max-width: 768px) and (orientation: landscape) {
    height: unset;
    min-height: 100vh;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 100;
}

.footer-action-button {
  // DISPLAY
  flex-direction: column;
  min-height: 100px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 768px) and (orientation: landscape) {
    min-height: 72px;
  }

  .button-container {
    @extend .animation-default;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    height: 72px;
    border-radius: 36px;
    background-image: linear-gradient(104deg, rgba(123, 127, 240, 0.15), rgba(48, 210, 212, 0.15));

    &:hover {
      background-image: linear-gradient(104deg, rgba(123, 127, 240, 0.25), rgba(48, 210, 212, 0.25));
    }

    .b {
      width: 64px;
      height: 40px;
      border: none;
      margin: 0 .5rem;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.8rem;
      border-radius: 4px;
      cursor: pointer;
    }
    .b-primary {
      color: white;
      background-image: linear-gradient(to bottom, #7b7ff0, #7974e3);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

      &:hover {
        background-color: #7B7FF0;
        box-shadow: none;
      }
    }
    .b-secondary {
      border: solid 1px #d3dce6;
      color: rgba(32, 41, 56, 0.7);
      background-image: linear-gradient(to bottom, #ffffff, $pale-grey);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
    .b-borderless {
      color: $blue-grey;
      background: none;
    }
  }
}

input[type="button"],
button,
.fa {
  cursor: pointer;
}

.single-selection {
  flex: 1;
  flex-direction: column;
  // overriding inherited styles
  align-items: unset;
  padding-top: 0;

  .each-selection-element {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    border: 1px solid rgba(211, 220, 230, 0.8);
    margin: 3px auto;
    min-width: 280px;
    width: 50%;
    max-width: 350px;
    padding: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0ms;

    @media screen and (max-width: 480px) {
      font-size: 1rem;
    }
  }

  input[type="radio"]:checked + label,
  .selected {
    border: solid 4px #7b7ff0;
    margin: 0 auto;
  }
}
