@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  //  overriding styles.css
  display: block;
}

.positive-section {
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  .positive-text {
    max-width: 720px;
  }
  .positive-img {
    max-height: 80px;
    margin: 1rem 0;
    align-self: center;
  }
}

.footer-action-button {
  width: calc(100% - 3rem);
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
