<sailstrains-header cname="Thank you! Your Review Has Been Sent." b1="Go Back" b1route="/step21" b2="Start Over" b2route="/"
  f="foo1" (b1Click)="goPrev($event)" (b2Click)="goRestart($event)"></sailstrains-header>

<main class="component-root">
  <section class="positive-section">
    <img class="positive-img" src="../../../assets/images/icn-happy@3x.png" alt="Smiley face">
    <p class="positive-text">
      {{ text1 }}
    </p>
  </section>
</main>

<footer class="footer-action-button">

  <sailstrains-progress
    currentValue="100">
  </sailstrains-progress>

  <div class="button-container">
    <sailstrains-button b1="Back to Strain"
                        b1route="/step14"
                        (b1Click)="goStrain($event)"
                        [b1disabled]='false'>
    </sailstrains-button>
  </div>
</footer>
