@import "../../../assets/variables";

:host {
  // empty for now, but never forgotten
}

.component-root {
  max-height: 100%;
  overflow-y: auto;
  //  overriding styles.css
  display: block;
}

.footer-action-button {
  width: calc(100% - 3rem);
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
/*MOVED TO STYLES.SCSS*/
/*
.single-selection {
  flex: 1;
  flex-direction: column;
  // overriding inherited styles
  align-items: unset;
  padding-top: 0;

  .each-selection-element {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    min-width: 280px;
    width: 50%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 1rem;
    transition-timing-function: ease;
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0ms;
    // TODO: make it keyboard accessible
    //outline-offset: -3px;
    //outline: 3px solid transparent;
    border: 1px solid rgba(211, 220, 230, 0.8);
    border-radius: .5rem;
    background-color: white;
    font-size: 1.5rem;

    @media screen and (max-width: 480px) {
      font-size: 1rem;
    }
  }

  input[type="radio"]:checked + label {
    border: solid 4px #7b7ff0;
  }

  .selected {
    border: solid 4px #7b7ff0;
  }
}
*/
